.login{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}
.login__container{
    border: 0.5px solid #ffffff25;
    padding: 3rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.login__h5{
    opacity: 0.5;
}
.login__google-button{
    display: flex;
    gap: 1rem;
    border: 1px solid #cccccc2f;
    padding: 0.5rem 3rem;
    
}
.login__google-button:hover{
    cursor: pointer;
}
.login__google-button:active{
    background-color: #cccccc2f;
    
}

.logo{
    width: 20px;
}
.logo-url{
    width: 60px;
}

.logo:hover{
    cursor: pointer;
}