.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: white;
    width: 100%;
  }
  
  .navbar-brand {
    display: flex;
    gap: 0.5rem;
  }
  
  .navbar-menu .profile {
    position: relative;
  }
  
  .dropdown-menu {
    position: absolute;
    right: 0;
    color: #fff;
    background: black;
    color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 0.5rem;
    width: 120px;
    padding: 0.5rem;
  }
  .navbar-profile:hover{
    cursor: pointer;
  }
  

  
  .dropdown-menu__link {
    cursor: pointer;
  }

  .dropdown-menu__link:hover {
    border-bottom: 1px solid #fff;
  }
  
 